body {
    margin: 0;
}
body.bg-image {
    background-image: url('record.png');
    background-repeat: repeat-y;
    background-position: -188px;
}
.page-header {
    color: white;
    background-color: darkslategray;
    text-align: center;
}
.page-content {
    background-color: lightslategray;
    padding: 1rem;
}